mixin m-project-item(obj)
    div(class='project-wrapper')
      div(class='project-info-wrapper')  
        h2(class='project-h')
          | #{obj.pInfo}
        p(class='project-desc')
          | #{obj.pDesc}
        img(src=obj.pImageSrc, class='project-img' alt=obj.pImageAlt)
        span(class="demo-wrapper")
          if obj.pHrefGithub
            a(href=obj.pHrefGithub class='link-btn' aria-label=obj.pInfo+' - github link')
              | Github
          if obj.pHrefLive
            a(href=obj.pHrefLive class='link-btn' aria-label=obj.pInfo+ ' - Live demo')
              | Live demo
